// per la maggior parte dei link quando passo il mouse
$link_hover: #30488F;
// colore testo
$text_color: #58402c;
$white_color: white;
// altezza per l'header
$header_height: 75px;
// altezza per varie sezioni
$single_section_height: 600px;
// per l'altezza del div che contiene i bottoni Sign up with Google or Sign up with Slack
$first_section_buttons_height: 35px;
// per il border radius
$buttons_border_radius: 10px;
// quando passo il mouse sui bottoni
$background_button_hover: #233569;
// per il testo più piccolo
$font_size_little: 14px;
// per lo sfondo rosa
$pink_background: #ffe7d2;
// per l'altezza del div che contiene le tre colonne
$three_columns_height: 200px;
// per le linee tipo hr
$border_bottom: 1px solid rgba(88, 64, 44, 0.4);
// per il testo medio
$font_size_medium: 26px;
// per alcuni paragrafi
$font_size_for_some_paragraphs: 1.375rem;
// per alcuni testi
$button_font_size: .875rem;
// quando passo il mouse su Learn more o Teambit (nel footer)
$color_hover_learnmore_lastteambit: #263972;
// per il font-size per alcune cose del footer
$footer_font_size: 1.125rem;
